<!-- header -->
<header class="container">
  <div class="flex items-start justify-between py-4 lg:py-8">
    <div class="w-auto">
      <h1 class="text-4xl tracking-wide text-gray-800">Start now</h1>
      <p class="text-4xl tracking-wide text-gray-800">
        your <span class="font-bold text-black">free plan.</span>
      </p>
    </div>
    <div class="lg:flex lg:items-center">
      <nav class="hidden lg:block">
        <a class="text-2xl mr-6" href="./index.html">首頁</a>
        <a class="text-2xl mr-6" href="./about.html">關於我們</a>
        <a class="text-2xl mr-6" href="./contact.html">聯繫</a>
      </nav>
      <button id="login" class="w-auto rounded-sm bg-primary py-2 px-4 tracking-widest text-white 
          ring-offset-2 active:bg-primary-dark active:ring-primary active:ring-4 duration-100">
        LOGIN
      </button>
    </div>
  </div>
</header>
