<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>

    <!-- all your standard template here -->
    <div class="container">
      <div class="flex px-4 py-3 w-full box-border rounded-lg bg-gray-800 sm:bg-primary md:bg-yellow-600 xx:bg-blue-700">
        <div class="w-[100px] mr-3 flex-shrink-0 rounded-full overflow-hidden">
          <img src="https://bruce-fe-fb.web.app/image/avator.png" />
        </div>
        <button class="flex-1 bg-gray-600 rounded-full ring-gray-400 hover:bg-gray-700 active:ring-8">
          <p class="text-left text-gray-400 pl-3 text-sm hover:text-red-700">白爛貓</p>
        </button>
      </div> 
      <!-- custom -->
      <div class="w-[50%] h-[20px] bg-red-100/50">自定義</div>
      <div class="before:content-['2222'] after:content-['5555'] text-white">偽元素</div>
      <div class="text-[color:var(--cy-primary)] text-[length:var(--cy-fzBase)]">css3變數</div>
      
      
      <h1>模板</h1>
      <div class="root"></div>
      <div class="food"></div>
      <div class="icon"></div>
      
      <div class="info">MyName</div>
      <div class="alert"></div>
      <div class="success"></div>
      
      <div class="box"></div>
      <a id="link" href="#">link</a>
      
      <div class="box bg-gray-600"></div>
    </div>
    <!-- all your standard template here -->

    <%= htmlWebpackPlugin.options.footer %>
  </body>
</html>
