<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="relative bg-[#E5E5E5] h-screen">
  <%= htmlWebpackPlugin.options.header %>

  <!-- all your standard template here -->
  <main class="container mt-8 lg:grid lg:grid-cols-3 lg:gap-8">
    <!-- card -->
    <div class="w-full p-4 mt-8 bg-secondary rounded-2xl shadow-2xl hover:scale-105 duration-300">
      <img class="w-full object-cover" src="https://picsum.photos/800/600/?random=1">
      <p class="text-3xl font-bold mt-4">
        Free $0
        <span class="text-base text-gray-600 font-medium">per month</span>
      </p>
      <div class="w-[40px] h-[3px] bg-primary mt-3"></div>
      <p class="font-bold mt-4 text-lg">Plan includes:</p>
      <ul id="list1" class="text-lg mb-14"></ul>
      <a href="javascript:;" class="w-full mb-8 block font-bold text-center text-black">view all the features</a>
      <button class="w-full bg-primary py-3 text-lg text-white tracking-wide rounded-lg">
        Subscribe
      </button>
    </div>
    <!-- card -->
    <div class="w-full p-4 mt-8 bg-primary text-white rounded-2xl shadow-2xl hover:scale-105 duration-300">
      <img class="w-full object-cover" src="https://picsum.photos/800/600/?random=2">
      <p class="text-3xl font-bold mt-4">
        Standard $20
        <span class="text-base text-gray-600 font-medium">per month</span>
      </p>
      <div class="w-[40px] h-[3px] bg-white mt-3"></div>
      <p class="font-bold mt-4 text-lg">Plan includes:</p>
      <ul id="list2" class="text-lg mb-14"></ul>
      <a href="javascript:;" class="w-full mb-8 block font-bold text-center text-white">view all the features</a>
      <button class="w-full bg-white py-3 text-lg text-black tracking-wide rounded-lg">
        Subscribe
      </button>
    </div>
    <!-- card -->
    <div class="w-full p-4 mt-8 bg-secondary rounded-2xl shadow-2xl hover:scale-105 duration-300">
      <img class="w-full object-cover" src="https://picsum.photos/800/600/?random=3">
      <p class="text-3xl font-bold mt-4">
        Pro $90
        <span class="text-base text-gray-600 font-medium">per month</span>
      </p>
      <div class="w-[40px] h-[3px] bg-primary mt-3"></div>
      <p class="font-bold mt-4 text-lg">Plan includes:</p>
      <ul id="list3" class="text-lg mb-14"></ul>
      <a href="javascript:;" class="w-full mb-8 block font-bold text-center text-black">view all the features</a>
      <button class="w-full bg-primary py-3 text-lg text-white tracking-wide rounded-lg">
        Subscribe
      </button>
    </div>
  </main>
  <!-- all your standard template here -->

  <%= htmlWebpackPlugin.options.footer %>
  <!-- modal -->
  <div id="modal" class="absolute left-0 top-0 right-0 w-full h-full bg-black/80 flex justify-center items-start lg:items-center 
  opacity-0 pointer-events-none duration-300">
    <div class="w-[90%] p-4 bg-white mt-[150px] rounded-lg lg:mt-0 lg:w-[500px]">
      <p class="text-3xl my-4 font-medium text-center">LOGIN</p>
      <div class="mb-8">
        <label for="username">Username</label>
        <input type="text" name="username" class="
          w-full
          border-gray-300 border-2
          h-[50px]
          px-3
          mt-1
          rounded-lg
          caret-primary
          focus:border-primary focus:ring-primary
        " />
      </div>
      <div class="mb-8">
        <label for="password">Password</label>
        <input type="password" name="password" class="
            w-full
            border-gray-300 border-2
            h-[50px]
            px-3
            mt-1
            rounded-lg
            focus:border-primary focus:ring-primary
          " />
      </div>
      <div class="mb-8">
        <label for="region">Region</label>
        <select
          name="region"
          class="
            w-full
            border-gray-300 border-2
            h-[50px]
            px-3
            mt-1
            rounded-lg
            focus:border-primary focus:ring-primary
          "
        >
          <option value="" selected disable hidden>請選擇地區</option>
          <option value="TW">Taiwan</option>
          <option value="SG">Singapore</option>
        </select>
      </div>
      <div class="mb-8 flex items-center">
        <input
          type="checkbox"
          name="checkbox"
          class="mr-2 text-primary focus:ring-primary"
        />
        <label for="checkbox">Remember my username</label>
      </div>
      <button id="close" type="button" class="
        w-full
        bg-primary
        py-3
        text-lg text-white
        tracking-wide
        rounded-lg
        mt-4
      ">
        login
      </button>
    </div>
  </div>
</body>
</html>

